@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --gray-color: #6b7688;
  --light-gray-color: #e4e4e4;
  --brown-color: #46364a;
  --black-color: #030303;
  --white-color: #ffffff;

  /* original color */
  --origin-primary-color: #114357;
  --origin-secondary-color: #f29492;
  --origin-third-color: #2c3e50;
  --origin-fourth-color: #00dbde;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  @apply w-full max-w-[1440px] mx-auto my-0;
}

.layout {
  @apply grid grid-cols-8 gap-5;
}

.nav-item {
  @apply items-center justify-center w-full px-3 py-2 text-lg text-black rounded lg:inline-flex lg:w-auto hover:bg-black hover:text-white;
}

.primary-gradient {
  background: linear-gradient(
    150deg,
    var(--origin-primary-color) 0%,
    var(--origin-secondary-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary-gradient {
  background: linear-gradient(
    150deg,
    var(--origin-third-color) 0%,
    var(--origin-fourth-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-gradient {
  background: linear-gradient(
    135deg,
    rgb(252, 0, 255, 0.12),
    rgb(0, 219, 222, 0.12)
  );
  box-shadow: 0px 2px 3px 0px rgba(var(--black-color), 0.12);
}
