@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --gray-color: #6b7688;
  --light-gray-color: #e4e4e4;
  --brown-color: #46364a;
  --black-color: #030303;
  --white-color: #ffffff;

  /* original color */
  --origin-primary-color: #114357;
  --origin-secondary-color: #f29492;
  --origin-third-color: #2c3e50;
  --origin-fourth-color: #00dbde;
  --origin-white-mill-color: #f6f6f6;
  --origin-dark-blue-color: #002f47;
  --origin-gray-color: #eceff1;
  --origin-light-gray: #e4e4e4;
  --origin-dark-blue-green-color: #114357;
  --origin-mill-pink-color: #f29492;
  --origin-pink-color: #fb00ff;

  /* new color */
  --new-black-color: #001011;
  --new-black-night-color: #0a090c;
  --new-gray-color: #757780;
  --new-white-color: #fffffc;
  --new-white-anti-flash-color: #f0edee;
  --new-green-color: #07393c;
  --new-blue-color: #003049;
  --new-yellow-color: #fcbf49;
  --new-orange-color: #f77f00;
  --new-red-color: #d62828;
  --new-vanilla-color: #eae2b7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  @apply w-full max-w-[1440px] mx-auto my-0;
}

.layout {
  @apply grid grid-cols-8 gap-5;
}

.nav-item {
  @apply items-center justify-center w-full px-3 py-2 text-lg text-black rounded lg:inline-flex lg:w-auto hover:bg-black hover:text-white;
}

.primary-gradient {
  background: linear-gradient(
    150deg,
    var(--origin-primary-color) 0%,
    var(--origin-secondary-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary-gradient {
  background: linear-gradient(
    160deg,
    var(--origin-fourth-color) 70%,
    var(--origin-third-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-gradient {
  background: linear-gradient(135deg, rgb(252, 0, 255, 0.12), rgb(0, 219, 222, 0.12));
  box-shadow: 0px 2px 3px 0px rgba(var(--black-color), 0.12);
}
